<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/style.css">
	<style>
		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.navlinks {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	</style>
</head>
<body>
	<nav class="nav" style="width: 100%;">
		<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">

			<h2>
				<%= title %>
					<% if (user.username) { %>
						<button>
							<b>
								<%= user.username %>
							</b>
						</button>
						<% } %>
			</h2>

			<div class="navlinks">
				<% if (user.username) { %>
					<form action="/auth/logout" method="POST">
						<button type="submit">Logout</button>
						</form>
					<% } else { %>
						<a href="/login">Login</a>
						<a href="/register">Register</a>
						<% } %>
			</div>
			
			</div>

	</nav>

    <div class="container">
