<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/style.css">
	<style>
		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		.navlinks {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	</style>
</head>
<body>
	<nav class="nav">
		<h1>
			<a href="/">Task Manager</a>
		</h1>
	
		<% if (user) { %>
			<button>
				<b>
					<%= user.username %>
				</b>
			</button>
			<% } %>
	
				<nav class="navlinks">
					<% if (user) { %>
						<a href="/task">All Tasks</a>
						<a href="/task/create">Create Task</a>
						<form action="/logout" method="POST" style="display: inline;">
							<button type="submit">Logout</button>
						</form>
						<% } else { %>
							<a href="/login">Login</a>
							<a href="/signup">Signup</a>
							<% } %>
				</nav>
	</nav>

    <div class="container">
