<!-- <%- include('./partials/header', {
	 title: 'Home' ,
	 user
	 }) %> -->

	<h2>Welcome to the Task Manager App</h2>

	<nav class="navlist">
		<a href="/login">Login</a>
		<a href="/signup">Signup</a>
	</nav>

	<p></p>



				<%- include('./partials/footer') %>