<%- include('./partials/header', {
	 title,
	 user
	 }) %>


	<% if (!user) { %>
		<nav class="navlist">
			<a href="/login">Login</a>
			<a href="/signup">Signup</a>
		</nav>
		<% } %>

			<% if (user) { %>
				<nav class="navlist">
					<a href="/tasks">Go to Tasks</a>
			
				</nav>
				<% } %>




				<%- include('./partials/footer') %>